*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Cairo',sans-serif;
}

body{
    background:linear-gradient(135deg,#03152f,#0b3d91);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

h1{
    font-size:55px;
    font-weight:900;
    text-align:center;
    text-shadow:0 0 20px rgba(255,255,255,.3);
}
